[Unit]
Description=CameraAIWork automatic updater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=CAMERAAIWORK_DIR=__INSTALL_DIR__
ExecStart=/bin/bash __INSTALL_DIR__/apps/relay/update.sh
